/*  Úvodní definice
    Zarovnání na střed a neustálé zobrazení y-scrollbaru     */

body {
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
}



/*  Jednotlivé stickie
    ==================    */

/*  Hlavní okno stickie     */    
.stickieContainer {
    margin: 10px auto;
    width: 260px;
}

.stickie {
    background-color: #ffe873;
    border-top: 1px solid #ffdf40;
    border-left: 1px solid #ffdf40;
    border-right: 1px solid #ffdf40;
    
        
        border-bottom:none;
        
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 10px;
    margin: 5px auto 0px auto;
    max-width: 250px;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;

    font-size: 18px;
    font-weight: bold;

    /*white-space: pre;*/
    
}

.stickiePanel {
   max-width: 250px;
   height: 18px;
   margin: 0 auto;
   background-color: #ffdf40;
    
   /*border-bottom-left-radius: 3px;*/
   /*border-bottom-right-radius: 3px;*/
   
   
   color: #333;
}


.stickieColor {
   max-width: 250px;
   height: 18px;
   margin: 0 auto;
   background-color: #ffdf40;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   color: #333;
}

/*  Lišta pod stickie
    -----------------    */

/*    Datum vložení stickie     */
.stickieDate {
    border-radius: 0px;
    font-size: 0.7em;
    font-style: italic;
    float: left;
    margin: 2px 7px;
    color: #444;
}

/*    X - mazání stickies     */
.deleteStickieButton {
    float: right;
    margin: 1px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
}
.deleteStickieButton:hover {
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

/*    Edit stickie    */
.editStickieButton {
    float: right;
    margin: 1px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
}
.editStickieButton:hover {
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

/* edit font-size */
.makeFontSmaller,
.makeFontBigger {
     float: right;
    margin: 1px;
    color: #444;
    background-color: transparent;
    cursor: pointer;
}

.makeFontSmaller:hover,
.makeFontBigger:hover {
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

/* edit color */
.colorYellow {
    background-color: #ffe873;
    color: #ffdf40;
}
.colorBlue {
    background-color: #63afd0;
    color: #3ba3d0;
}
.colorGreen {
    background-color: #7ae969;
    color: #52e93a;
}
.colorRed {
    background-color: #ff8073;
    color: #ff5240;
}
.colorWhite {
    background-color: #fff;
    color: #aaa;
}
.changeColor {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 3px solid #444;
    margin: 0 2px;
    float: right;
}
.changeColor:hover {
    cursor: pointer;
    border: 3px solid #000;
}



/*  formulář pro vyplnění nového stickie
    ====================================    */
    
#newStickie {
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    min-height: 82px;
    padding: 30px 15px;
    max-width: 400px;
    margin: 10px auto 0 auto;
    text-align: left;
    display:none;
    /*white-space: pre;*/
}

#newStickie:focus {
    outline: none;
}


/*  Tlačítko na přidání sticke     */

#addButton {
    margin: 5px auto 10px auto;
    padding: 10px 30px;
    display:none;
}





/*pracuji David*/

.stickieBody{
    background-color: #FFDD40;
    border: 1px solid #FFD200;
    border-top:none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 10px;
    margin: 0px auto 0px auto;
    max-width: 250px;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;

}
#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 70px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
    margin: 0px auto 0 auto;
    text-align: left;
    display:none;
    
}

#plusButton{
    margin: 30px auto 10px auto;
    padding: 10px 20px;
}

